USE [master]
GO
/****** Object:  Database [TicTacToeGame]    Script Date: 9/13/2018 9:39:41 PM ******/
CREATE DATABASE [TicTacToeGame]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicTacToeGame', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TicTacToeGame.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TicTacToeGame_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TicTacToeGame_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicTacToeGame].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicTacToeGame]
GO
/****** Object:  Table [dbo].[GameUser]    Script Date: 9/13/2018 9:39:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GameUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[userName] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[accessTokken] [varchar](50) NULL,
	[status] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoggerDB]    Script Date: 9/13/2018 9:39:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoggerDB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Request] [varchar](50) NULL,
	[Response] [varchar](50) NULL,
	[Exception] [varchar](150) NULL,
	[Time] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
